<div class="container__big-card">

  <div class="big-card__photo">
    <img src="../../assets/img/mycss.png" alt="Imagem nova versão do Angular" height="200px" srcset="">
  </div>
  <div class="big-card__title">
    <h1><a href="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        target="_blank" rel="noopener">Saiu a nova versão do Angular!</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        target="_blank" rel="noopener">Angular 14 está disponível em 2022 no site https://angular.io/guide/releases.</a>
    </p>
  </div>
</div>